<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Roboreactor Profile {{userdata}}</title>
  <!--Write the parameters input for the current data input -->
  <input type="hidden" id="datauser" value="{{userdata}}"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'><link rel="stylesheet" href="/static/dash_style.css">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<section>
  <header>
    <nav class="rad-navigation">
      <div class="rad-logo-container">
        <a href="#" class="rad-logo">Roboreactor</a>
        <a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
      </div>
      <!--
      <div class="rad-top-nav-container">
        <ul class="links">
          <li>
            <a class="rad-menu-item" href="#"><i class="fa fa-comment-o"></i></a>
          </li>
          <li class="rad-dropdown"><a class="rad-menu-item" href="#"><i class="fa fa-envelope-o"><span class="rad-menu-badge">3</span></i></a>
            <ul class="rad-dropmenu-item">
              <li class="rad-dropmenu-header"><a href="#">Your Notifications</a></li>
              <li class="rad-notification-item">
                <a class="rad-notification-content" href="#">

                </a>
              </li>
              <li class="rad-dropmenu-footer"><a href="#">See all notifications</a></li>
            </ul>
          </li>
          <li class="rad-dropdown"><a class="rad-menu-item" href="#"><i class="fa fa-bell-o"><span class="rad-menu-badge">49</span></i></a>
            <ul class="rad-dropmenu-item">
              <li class="rad-dropmenu-header"><a href="#">Your Alerts</a></li>
              <li class="rad-notification-item">
                <a class="rad-notification-content" href="#">
                </a>
              </li>
              <li class="rad-dropmenu-footer"><a href="#">See all alerts</a></li>
            </ul>
          </li>
        </ul>
      </div>-->
    </nav>
  </header>
</section>
<aside>
  <nav class="rad-sidebar">
    <ul>
      <li>
        <a onclick="dashboardsensor();" class="inbox">
          <i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
          <span class="rad-sidebar-item">Sensor dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-key">
						<span class="icon-bg rad-bg-danger"></span>
					</i>
          <span class="rad-sidebar-item">API keys</span>
        </a>
        
      </li>
      
      <li><a onclick="Codegendat();" class="done"><i class="fa fa-code"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Code Generator</span></a></li>
      <li><a onclick="urdf_wizard();" class="done"><i class="fa fa-cube"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">URRDF Wizard</span></a></li>
      <li><a href="#" class="snooz"><i class="fa fa-cubes"><span class="icon-bg rad-bg-primary"></span></i><span class="rad-sidebar-item">Navigation systems</span></a></li>
      <li><a href="#" class="done"><i class="fa fa-wifi fa-beat"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Motion controller</span></a></li>
      <li><a href="#" class="done"><i class="fa fa-gear"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Manufacturing AAI</span></a></li>
      <li><a href="#"><i class="fa fa-wrench"><span class="icon-bg rad-bg-violet"></span></i><span class="rad-sidebar-item">Settings</span></a></li>

    </ul>
  </nav>
</aside>
<main>
  <section>
    
             

  </section>
</main>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js'></script>
<script  src="/static/script.js"></script>
<script type="text/javascript">
    var user_account = document.getElementById('datauser').value; 
    
    function Codegendat() {
        window.location.href = "http://192.168.50.192:5899/CodeGenerator/"+user_account;
    }

    function dashboardsensor() {
        window.location.href = "http://192.168.50.192:5899/category_sensor/"+user_account;
    }

    function API_key_auth() {
        window.location.href = "http://192.168.50.192:5899/Api_keys/"+user_account;
    }
    function urdf_wizard(){
    
    window.location.href = "http://192.168.50.192:5899/urdf_creator/"+user_account;      
}
</script>
</body>
</html>
