<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roboreactor Profile </title>
    <link rel="icon" type="image/svg" href="../static/images/favicon.ico"><!-- HEAD_svelte-1bqi44g_END --><!-- HEAD_svelte-1q0x54r_START --><!-- HEAD_svelte-1q0x54r_END -->

    <!--Write the parameters input for the current data input -->
    <input type="hidden" id="datauser" value="{{userdata}}"> 
    <input type="hidden" id="encoded_arg" value="{{encodeuser}}"> <!--Get the encodeuser -->
    <input type="hidden" id="plan_arg" value="{{planuser}}"> <!--Get the plan user -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'><link rel="stylesheet" href="/static/dash_style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
    <style>
      /* Style the iframe container to take up full width and height */
      #iframe-container {
          padding-top: 44px;
          padding-left: 10px;
          width: 100%;
          height: 100vh; /* Set the height to viewport height */
          overflow: hidden; /* Hide any overflow content */
          position: relative;
      }

      /* Style the iframe itself to fill the container */
      #iframe-container iframe {
          width: 100%;
          height: 100%;
          border: 0; /* Optional: Remove iframe border */
      }
  </style>
  <style>
    #myIframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none; /* Remove iframe border */
    }
  </style>
</head>
<body>
<!-- partial:index.partial.html -->

<section>
    <header>
        <nav class="rad-navigation">
            <div class="rad-logo-container">
                <a href="#" class="rad-logo">Roboreactor</a>
                <a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
            </div>
            <!--
            <div class="rad-top-nav-container">
              ... (your navigation code)
            </div>-->
        </nav>
    </header>
</section>
<aside>
    <nav class="rad-sidebar">
        <ul>
            <li>
                <a onclick="dashboardsensor();" class="inbox">
                    <i class="fa fa-dashboard"><span class="icon-bg rad-bg-success"></span></i>
                    <span class="rad-sidebar-item">Sensor dashboard</span>
                </a>
            </li>
            <li>
                <a onclick="API_key_auth();">
                    <i class="fa fa-key">
                        <span class="icon-bg rad-bg-danger"></span>
                    </i>
                    <span class="rad-sidebar-item">API keys</span>
               </a>
            </li>

            <li><a onclick="Codegendat();" class="done"><i class="fa fa-code"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Code Generator</span></a></li>
            <li><a onclick="urdf_wizard();" class="done"><i class="fa fa-cube"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">URRDF Wizard</span></a></li>
            <li><a onclick="navigation_system();" class="snooz"><i class="fa fa-cubes"><span class="icon-bg rad-bg-primary"></span></i><span class="rad-sidebar-item">Navigation systems</span></a></li>
            <li><a onclick="motion_controller_dash();" class="done"><i class="fa fa-wifi fa-beat"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Motion controller</span></a></li>
            <li><a onclick="manufacturing_account_dash();" class="done"><i class="fa fa-gear"><span class="icon-bg rad-bg-warning"></span></i><span class="rad-sidebar-item">Manufacturing AAI</span></a></li>
            <li><a onclick="settings_dash();"><i class="fa fa-wrench"><span class="icon-bg rad-bg-violet"></span></i><span class="rad-sidebar-item">Settings</span></a></li>
            <li><a href="/signin" class="done"><i class="fa fa-arrow-left"><span class="icon-bg rad-bg-violet"></span></i><span class="rad-sidebar-item">Logout</span></a></li>

        </ul>
    </nav>
</aside>

<div id="iframe-container">
     
    <iframe id="motion_frame" frameborder="0"></iframe> <!-- Replace with your URL -->
    
</div>
<script>
        var iframe = document.getElementById('motion_frame');
        // Combine the endpoint URL and the provided string
        //Get the base 64 from the generator data 
        var user_account = document.getElementById('datauser').value; 
        var user_encode = document.getElementById('encoded_arg').value; 
        console.log(user_encode); 
        try{
        fetch('/retrieve_project_db', {
           // Declare what type of data we're sending
           headers: {
                    'Content-Type': 'application/json'
           },
          // Specify the method
          method: 'POST',
         // A JSON payload
         body: JSON.stringify({
                      "email": user_account
         })
        }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
        }).then(function (text) {
            try{                        
                console.log('POST response: ');
                var project_name_ext = JSON.parse(text)['project_name'];
                var current_project_data = {'email':user_account,'project_name':project_name_ext}
                var jsonString = JSON.stringify(current_project_data);
                // Step 3: Encode the JSON string as Base64
                var base64String = btoa(jsonString);
                var combinedSrc = "https://roboreactor.com/create_urdf/" + base64String;   
                // Set the combined src value to the iframe
                iframe.setAttribute('src', combinedSrc);
            }
            catch{
                var current_project_data = {'email':user_account,'project_name':"Project_1"}
                var jsonString = JSON.stringify(current_project_data);
                // Step 3: Encode the JSON string as Base64
                var base64String = btoa(jsonString);
                var combinedSrc = "https://roboreactor.com/create_urdf/" + base64String;   
                // Set the combined src value to the iframe
                iframe.setAttribute('src', combinedSrc);
            }    
        
        });
    }
    catch{
          console.log("You haven't create any project yet.Please create your first project at the Manufacturing assistance AI in dashboard");
          //Adding the notification here 
          var current_project_data = {'email':user_account,'project_name':"Project_1"}
          var jsonString = JSON.stringify(current_project_data);
          // Step 3: Encode the JSON string as Base64
          var base64String = btoa(jsonString);
          var combinedSrc = "https://roboreactor.com/create_urdf/" + base64String;   
          // Set the combined src value to the iframe
          iframe.setAttribute('src', combinedSrc);
    }
</script>
<!-- partial -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="/static/script_dash.js"></script>
<script type="text/javascript">
    var user_account = document.getElementById('datauser').value; 
    var user_encode = document.getElementById('encoded_arg').value; 
    console.log(user_encode); 
      //Extract the project name from the settings list to get the 
      //Using the current project data fetch input selection from the
      function encode_project_data(){
            var  jsonString = JSON.stringify(jsonObject);
            // Step 3: Encode the JSON string as Base64
            var  base64String = btoa(jsonString);
            return base64String;   // Get the base 64 return from the data encode   
       }  
      function Codegendat(){
         window.location.href = "https://roboreactor.com/CodeGenerator/"+user_encode;
      }
      function dashboardsensor(){
        window.location.href = "https://roboreactor.com/dashboard_profile/"+user_encode;
      }  
      function API_key_auth(){
           window.location.href = "https://roboreactor.com/Api_keys/"+user_encode; 
      }
      function urdf_wizard(){
    
                window.location.href = "https://roboreactor.com/urdf_creator/"+user_encode;      
      }
      function navigation_system(){
                
                window.location.href = "https://roboreactor.com/navigation_systems/"+user_encode;
      }
      function motion_controller_dash(){
                      
                 window.location.href = "https://roboreactor.com/motion_controller/"+user_encode;      
      }
      function manufacturing_account_dash(){
         
                 window.location.href = "https://roboreactor.com/Manufacturing_assist/"+user_encode;  
      }

      function settings_dash(){
                
                 window.location.href = "https://roboreactor.com/settings/"+user_encode;
      }
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KGJLJB0CMY">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KGJLJB0CMY');
</script>

</body>
</html>
